:root
  --contentPadding: 1rem

.contentView
  display: flex
  flex-direction: column
  width: 60rem
  max-width: 100%
  min-height: 0
  padding: var(--contentPadding)
  gap: 0.5rem
  height: fit-content

.navigationView
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: flex-start
  justify-content: center
  width: 100%
  padding: var(--contentPadding)
  gap: 1rem

  .contentView
    padding: 0 !important

@media (max-width: 35rem)
  :root
    --contentPadding: 0.5rem

// Conditionals
@media (max-width: 85rem)
  .sidebarModeOnly
    display: none !important

@media (min-width: 85rem)
  .stackModeOnly
    display: none !important
